body{
    margin: auto;
    padding: 0;
    background-color: #181818;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    
}

/*form style*/
#signin-form, #signup-form{
    display: block;
    width: 250px;
    background-image: linear-gradient(rgba(21, 23, 45, 0.437), rgba(8, 7, 13, 0.75)),url('img/background3.jpg');
    background-size: cover;
    border-radius: 20px;
    box-shadow: 5px 10px 10px 5px rgba(0,0,0,.75) ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    overflow: hidden; 
}

/*SignIn and SignUp link style*/
.singinLink,.signupLink{
    display: inline-block;
    color: #e85f83;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px; 
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.signupLink{
    float: right;
    transition: .3s;
}

/* input style */
.user-data, .title, .text-blog{
    width: 80%;
    display: grid;
    justify-content: center;
    background-color: transparent;
    border: none;
    margin: 30px auto;
    color: #e85f83;
    padding: 5px 5px 5px 0px; 
    font-size: .9em;
    letter-spacing: 1.5px;
    font-weight: bold;
    border-bottom: 2px solid #e85f83;  
}
.user-data::placeholder, .title::placeholder, .text-blog::placeholder{
    color: #e85f83;
    font-weight: bold;
}
.user-data:focus, .title:focus, .text-blog:focus{
    outline: none;
}

/*Check box style*/
.check-box{
    display: inline-block;
    color: #e85f83;
    font-size: .8em;
    font-weight: bold;
    margin: 15px 20px;
    vertical-align:middle;
}
#checkbox{
    width: 10px;
    height: 10px;
    margin: 0px 5px 2px 3px;
    accent-color: #e85f83;
    vertical-align:middle;
}

/*SignIn and SignUp button style*/
.button-signin, .button-signUp{
    display: block;
    background-color: #e85f83;
    color: #ffffff;
    padding: 17px 50px;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 20px auto;
    border: none;
    border-radius: 30px;
    transition: 0.3s;
}
.button-signin:hover, .button-signUp:hover{
    background-color: #e85f83dc;
}
.button-signin:active, .button-signUp:active{
    background-color: #cd5172d6;
}
.button-signU{
    margin: 0 auto;
}

/*link for forgot password style*/
.forgot-pass{
    display: block;
    text-decoration: none;
    color: #e85f83;
    font-size: .6em;
    font-weight: bold;
    text-align: center;
    word-spacing: 0px;
    transition: .3s;
}
.forgot-pass:active{
    color: #c84e6e;
}

/*Invalid messages style*/
#incorect-mess{
    display: none;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 1.5px;
}

/* navigation style - after SignIn*/
#nav{
    display: none;
    background-color: #181818;
    width: 100%; 
    height: 100%;
    position: relative;
}
#navigation{
    width: 100%;
    height: 60px;
    background-color: rgba(21, 23, 45, 0.437);
}
#nav img{
    width: 50px;
    border-radius: 50%;
    border: 2px solid #c84e6eb5;
    position: absolute;
    right: 0;
    margin: 5px;
}
.name-signout{
    color: #c84e6e;
    font-size: .8em;
    font-weight: bold;
    letter-spacing: 0px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 60px;
    
}
.show-name{
    display: block;
    color: #c84e6e;
    font-size: .8em;
    font-weight: bold;
    letter-spacing: 0px;
    padding: 5px;
    text-align: center;
}

/*SignOut button style*/
.sign-out-button, .button-post-blog{
    display: block;
    background-color: #e85f83;
    color: #ffffff;
    padding: 8px 10px;
    font-size: .8em;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 30px;
    transition: 0.3s;
    margin: auto;
}
.sign-out-button:hover, .button-post-blog:hover{
    background-color: #e85f83dc;
}
.sign-out-button:active, .button-post-blog:active{
    background-color: #cd5172d6;
}


/* Post blog area style */
.post-blog{
    position: relative;
    width: 700px;
    height: 100%;
    margin: auto;
    padding: 20px;
    overflow: hidden;
}
.title, .text-blog{
    width: 95%;
    font-size: 1.5em;
    padding: 10px;
}
.text-blog{
    height: 200px;
    border: 2px solid #e85f83;  
    border-top: none;
}
.button-post-blog{
    padding: 15px 20px;
    font-size: 1em;
    float: right;
    margin-bottom: 20px;
}

/*New post blog style*/
.new-post{
    display: block;
    clear: both;
    width: 665px;
    height: 100%;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #e85f83;
}
.post-title{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 3em;
    color: #e85f83;
}
.post-story {
    text-align: justify;
    font-size: 1.1em;
    color: #d79eaa;
    line-height: 140%;   
}
.post-date{
    text-align: right;
    color: #e85f83;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0px;
}